<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="firstname" value="Amruta"></parameter>
<parameter name="lastname" value="ray"></parameter>
  <test thread-count="2" parallel="methods" name="Test">
    <classes>
      <class name="com.etlhive.selenium.GoogleTest"/>
<!--       <class name="com.etlhive.selenium.WebsiteTest"/> ///ctrl+shift+c for comment--> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
